body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.resume {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #faf3eb; /* Update background color to #faf3eb */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}


.resume-left {
  flex: 1;
  padding-right: 20px;
}

.resume-right {
  flex: 2;
  padding-left: 20px;
}

.resume-profile {
  text-align: center;
}

.resume-profile img {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  border-radius: 50%;
  border: 4px solid #a48f7a; /* Use Grey Beige color for the border */
}

.resume-content {
  text-align: center;
}

.resume-content h1 {
  margin-top: 10px;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.resume-content p {
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.resume-contact {
  margin-top: 20px;
}

.resume-contact p {
  margin-bottom: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.resume-skills h2,
.resume-experience h2,
.resume-education h2,
.resume-reference h2 {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.resume-skills ul {
  padding: 0;
}

.resume-skills li {
  list-style-type: none;
  margin-bottom: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.resume-experience p,
.resume-education p,
.resume-reference p {
  margin-bottom: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
